In [3]:
# preparing the environment
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

np.random.seed(0)

In [26]:
# read in the file
df = pd.read_csv('ks-projects-201801.csv')
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [11]:
# handling missing values
missing_values_count = df.isnull().sum()
print(missing_values_count)

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [14]:
# missing values in percentage
print((missing_values_count/len(df)) * 100)

ID                  0.000000
name                0.001056
category            0.000000
main_category       0.000000
currency            0.000000
deadline            0.000000
goal                0.000000
launched            0.000000
pledged             0.000000
state               0.000000
backers             0.000000
country             0.000000
usd pledged         1.002744
usd_pledged_real    0.000000
usd_goal_real       0.000000
dtype: float64

In [16]:
# total missing value in percentage
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

(total_missing/total_cells) * 100

0.066920015528401391

0.067% of values are missing, 0.0011% missing "name", 1% missing "usd pledged"

Let's take a deeper look into the entries with missing values

In [22]:
# on "name"
missing_name = df[df.name.isnull()]
missing_name

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
166851,1848699072,NaN,Narrative Film,Film & Video,USD,2012-02-29,200000.0,2012-01-01 12:35:31,100.0,failed,1,US,100.00,100.00,200000.00
307234,634871725,NaN,Video Games,Games,GBP,2013-01-06,2000.0,2012-12-19 23:57:48,196.0,failed,12,GB,317.73,316.05,3224.97
309991,648853978,NaN,Product Design,Design,USD,2016-07-18,2500.0,2016-06-18 05:01:47,0.0,suspended,0,US,0.00,0.00,2500.00
338931,796533179,NaN,Painting,Art,USD,2011-12-05,35000.0,2011-11-06 23:55:55,220.0,failed,5,US,220.00,220.00,35000.00

In [27]:
# on "usd pledged"
missing_usd_pledged = df[df['usd pledged'].isnull()]
missing_usd_pledged.sample(100)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
204724,2042940046,Clockwork Rifle on Vinyl,Music,Music,GBP,2015-05-17,1500.0,2015-04-17 22:15:56,51.00,undefined,0,"N,0""",NaN,79.76,2346.02
175669,1893532960,ANALIA'S INVITATIONS,Publishing,Publishing,USD,2015-04-26,3850.0,2015-03-27 20:58:35,1.00,undefined,0,"N,0""",NaN,1.00,3850.00
307665,637141451,(Meta)-Amorphosis,Publishing,Publishing,GBP,2015-05-23,3000.0,2015-03-24 20:05:33,0.00,undefined,0,"N,0""",NaN,0.00,4577.22
308935,64367021,EP Ray Comedy Music Album!,Music,Music,USD,2015-09-16,2000.0,2015-08-17 19:23:31,0.00,undefined,0,"N,0""",NaN,0.00,2000.00
47937,124435438,Forty-nine fifty,Film & Video,Film & Video,USD,2015-10-09,3200.0,2015-10-02 15:11:15,0.00,undefined,0,"N,0""",NaN,0.00,3200.00
91475,1464820550,The Love Will Not Be Defeated Tour,Music,Music,USD,2015-05-01,3000.0,2015-04-01 02:57:39,3045.00,undefined,0,"N,0""",NaN,3045.00,3000.00
56529,1287578139,New Music Video Production,Music,Music,USD,2015-06-01,4000.0,2015-04-29 03:38:21,4001.00,undefined,0,"N,0""",NaN,4001.00,4000.00
68199,1347068641,Sketch - New Album and Launch!,Music,Music,GBP,2015-04-29,5000.0,2015-03-30 19:24:16,186.00,undefined,0,"N,0""",NaN,287.05,7716.41
184154,1937729243,Animals EP,Music,Music,GBP,2015-03-09,800.0,2015-02-07 15:17:18,1182.00,undefined,0,"N,0""",NaN,1747.10,1182.47
254977,366641984,Good Company CD Project,Music,Music,USD,2014-10-11,1500.0,2014-09-06 02:57:31,1825.00,undefined,0,"N,0""",NaN,1825.00,1500.00
354520,876146784,Project Edge,Film & Video,Film & Video,EUR,2015-08-07,3000.0,2015-07-08 00:00:55,3005.00,undefined,0,"N,0""",NaN,3287.78,3282.31
222559,2133928743,VW Spec Commercial,Film & Video,Film & Video,USD,2016-04-21,4000.0,2016-03-22 19:08:03,3483.00,undefined,0,"N,0""",NaN,3483.00,4000.00
327063,735810346,Karate School's EP,Music,Music,USD,2015-10-24,4500.0,2015-09-24 18:28:02,4685.00,undefined,0,"N,0""",NaN,4685.00,4500.00
145516,173920180,Only The Young Die Good (film soundtrack),Music,Music,AUD,2014-12-21,1500.0,2014-11-23 03:12:27,473.00,undefined,0,"N,0""",NaN,383.96,1217.63
194337,1989436702,My Shattered Pieces - A Memoir,Publishing,Publishing,USD,2015-11-21,3500.0,2015-10-22 19:06:46,5.00,undefined,0,"N,0""",NaN,5.00,3500.00
220610,2123583284,UDM4...FREAKSHOW UNDERGROUND,Film & Video,Film & Video,USD,2015-10-16,6000.0,2015-09-01 00:29:40,0.00,undefined,0,"N,0""",NaN,0.00,6000.00
321644,707968170,TOUCH TECH TODAY,Film & Video,Film & Video,USD,2015-03-25,6000.0,2015-01-31 03:14:46,0.00,undefined,0,"N,0""",NaN,0.00,6000.00
377640,994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11,6500.0,2015-03-25 03:55:53,6696.00,undefined,0,"N,0""",NaN,6696.00,6500.00
77312,1393301714,Fiona Corinne's Career Jumpstart,Music,Music,USD,2014-08-22,2000.0,2014-08-01 18:17:02,2000.11,undefined,0,"N,0""",NaN,2000.11,2000.00
330767,755096591,Minibeast's New Album,Music,Music,USD,2015-12-23,4100.0,2015-11-23 16:54:28,4775.00,undefined,0,"N,0""",NaN,4775.00,4100.00
228830,233313713,"Tim Cook's first album - ""awaken.""",Music,Music,USD,2014-08-09,7000.0,2014-07-16 07:03:46,7033.33,undefined,0,"N,0""",NaN,7033.33,7000.00
89554,1454932705,I Never Knew,Film & Video,Film & Video,USD,2015-02-17,2750.0,2015-01-18 20:00:37,2775.00,undefined,0,"N,0""",NaN,2775.00,2750.00
40887,1208121335,I am a song & lyrics writer,Music,Music,USD,2016-03-28,5000.0,2016-02-27 23:55:48,0.00,undefined,0,"N,0""",NaN,0.00,5000.00
79066,1402235075,Sounds of Winston-Salem,Music,Music,USD,2016-01-17,7500.0,2015-11-19 02:44:08,160.00,undefined,0,"N,0""",NaN,160.00,7500.00
6701,1034136092,Steam Productions,Music,Music,USD,2015-06-03,5000.0,2015-05-04 07:02:05,0.00,undefined,0,"N,0""",NaN,0.00,5000.00
192927,1981773511,LIQUEFY - An Underwater Film Noir,Film & Video,Film & Video,GBP,2015-04-17,3500.0,2015-03-18 21:45:36,4245.00,undefined,0,"N,0""",NaN,6376.65,5257.54
370082,955520547,Equipment for Haiteez cinematic and musical pr...,Music,Music,USD,2015-05-23,2500.0,2015-04-23 01:18:55,51.00,undefined,0,"N,0""",NaN,51.00,2500.00
87932,144699271,Full of Rage,Film & Video,Film & Video,USD,2014-09-27,5000.0,2014-08-28 03:51:52,0.00,undefined,0,"N,0""",NaN,0.00,5000.00
320191,700623237,"Studio 19 Films - ""Take this Waltz"" [Short Film]",Film & Video,Film & Video,USD,2015-08-09,3000.0,2015-06-10 17:07:44,0.00,undefined,0,"N,0""",NaN,0.00,3000.00
172783,187880400,Carlsbad Music Festival 11th Annual Season,Music,Music,USD,2014-09-17,5000.0,2014-08-27 19:59:33,5045.00,undefined,0,"N,0""",NaN,5045.00,5000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186490,1949241966,The Mary Pratt Music Conservation Project,Music,Music,USD,2014-10-18,2000.0,2014-09-19 02:58:35,2855.00,undefined,0,"N,0""",NaN,2855.00,2000.00
144689,1735082948,Reel Happiness,Film & Video,Film & Video,USD,2016-03-25,5000.0,2016-03-13 02:46:41,6492.00,undefined,0,"N,0""",NaN,6492.00,5000.00
24724,1125500286,All About Amy,Film & Video,Film & Video,USD,2014-05-04,3000.0,2014-04-04 17:41:13,3225.00,undefined,0,"N,0""",NaN,3225.00,3000.00
204690,2042723115,Ludicrum- An anthology of poetry and creative ...,Publishing,Publishing,CAD,2015-05-14,2500.0,2015-04-14 17:45:26,0.00,undefined,0,"N,0""",NaN,0.00,2076.93
195094,1993414830,Lost Dog Records - Mobile Studio,Music,Music,USD,2016-02-13,5500.0,2016-01-14 21:49:49,6025.00,undefined,0,"N,0""",NaN,6025.00,5500.00
154807,1787016680,If These Hands Could Talk,Music,Music,USD,2016-01-03,3000.0,2015-11-04 21:34:59,226.00,undefined,0,"N,0""",NaN,226.00,3000.00
38464,1195239309,20 Day Triads,Music,Music,CAD,2015-08-01,2000.0,2015-07-15 04:25:30,2130.00,undefined,0,"N,0""",NaN,1628.19,1528.82
338549,794535445,NLRU,Music,Music,EUR,2016-05-08,5000.0,2016-04-08 20:13:05,0.00,failed,0,"N,0""",NaN,0.00,5674.02
226892,223527466,Fallopé & The Tubes Debut EP,Music,Music,GBP,2014-11-01,1000.0,2014-10-02 22:55:33,1318.20,undefined,0,"N,0""",NaN,2085.33,1581.95
105422,1535815142,Help Fund The Dipping Skinnies First Full Leng...,Music,Music,USD,2016-05-28,1500.0,2016-04-13 22:47:09,1508.00,successful,0,"N,0""",NaN,1508.00,1500.00
71300,1363105258,London Berlin Films,Film & Video,Film & Video,GBP,2015-07-25,5000.0,2015-06-25 18:07:00,0.00,undefined,0,"N,0""",NaN,0.00,7787.92
133583,1677914704,CHASING PEACE: Freeing Your Spirit and Releasi...,Publishing,Publishing,USD,2015-08-12,5000.0,2015-07-13 21:59:50,0.00,undefined,0,"N,0""",NaN,0.00,5000.00
358826,898053833,Julie Eyerly debut EP,Music,Music,USD,2015-10-17,3500.0,2015-09-17 23:05:47,3815.00,undefined,0,"N,0""",NaN,3815.00,3500.00
173389,1881821697,"Åshild, bli.",Film & Video,Film & Video,GBP,2015-03-29,4000.0,2015-02-27 13:35:01,4415.00,undefined,0,"N,0""",NaN,6535.61,5921.28
196374,2000004062,La suisse en vidéo,Film & Video,Film & Video,CHF,2016-03-19,1600.0,2016-02-18 01:22:05,11.00,undefined,0,"N,0""",NaN,11.28,1641.04
59352,1301916961,On The Eve of a Goodbye - fund the new Reticen...,Music,Music,USD,2015-05-01,3700.0,2015-04-01 02:45:45,3721.00,undefined,0,"N,0""",NaN,3721.00,3700.00
368889,949401487,A Taste of San Diego's Singer Songwriters,Music,Music,USD,2016-05-09,7500.0,2016-04-09 02:21:45,1408.00,failed,0,"N,0""",NaN,1408.00,7500.00
295301,57303729,"My ""I Am! I Can!"" Journey",Music,Music,USD,2015-01-19,5000.0,2014-12-20 19:25:06,325.00,undefined,0,"N,0""",NaN,325.00,5000.00
159634,1811756487,This is your chance to own Iglomat's new album...,Music,Music,GBP,2013-04-11,1000.0,2013-03-12 11:47:50,1031.00,successful,0,"N,0""",NaN,1583.69,1536.07
216405,2102501004,DELTAPHONIC RECORDS DEBUT ALBUM!.. Join us,Music,Music,USD,2015-04-13,6000.0,2015-03-14 01:01:42,8162.00,undefined,0,"N,0""",NaN,8162.00,6000.00
261001,397598356,Percy Jones Scott McGill Ritchie DeCarlo,Music,Music,USD,2014-08-16,2800.0,2014-07-21 19:47:33,3102.00,undefined,0,"N,0""",NaN,3102.00,2800.00
153748,1781532895,KeyHarmony's EP,Music,Music,USD,2016-03-15,2500.0,2016-02-14 03:00:40,2656.00,undefined,0,"N,0""",NaN,2656.00,2500.00
15654,1079231555,A Quiet Kind of Love,Film & Video,Film & Video,USD,2015-01-10,7500.0,2014-12-20 02:25:08,7501.00,undefined,0,"N,0""",NaN,7501.00,7500.00
228346,230912633,The Blunt Instruments,Music,Music,USD,2015-03-27,8000.0,2015-02-25 03:02:13,137.00,undefined,0,"N,0""",NaN,137.00,8000.00
356568,886316764,©loaned,Film & Video,Film & Video,GBP,2015-08-02,1000.0,2015-07-03 00:51:44,1010.00,undefined,0,"N,0""",NaN,1567.20,1551.69
81288,1413431376,Journey to Salvation reprinting,Publishing,Publishing,USD,2016-05-27,5000.0,2016-04-27 00:24:41,0.00,failed,0,"N,0""",NaN,0.00,5000.00
98715,1501121685,Elizabeth Canino's EP!,Music,Music,USD,2015-06-26,1500.0,2015-05-27 15:42:49,136.00,undefined,0,"N,0""",NaN,136.00,1500.00
341888,811517442,"""WONDER""",Film & Video,Film & Video,USD,2015-02-18,7500.0,2015-02-06 23:28:20,8000.00,undefined,0,"N,0""",NaN,8000.00,7500.00
289261,541849988,Offrez-vous la réussite !,Publishing,Publishing,EUR,2015-09-06,5000.0,2015-07-08 16:01:18,0.00,undefined,0,"N,0""",NaN,0.00,5633.99
237450,277059718,Ham Heads,Film & Video,Film & Video,USD,2014-08-22,6500.0,2014-07-29 17:52:35,7220.43,undefined,0,"N,0""",NaN,7220.43,6500.00

Seems like these missing values are actually missing, considering the portion is very small, they will be dropped before visual analysis

In [33]:
# Check for unique values in categorical columns to see if there is anything unusual 
print(df.country.unique())

['GB' 'US' 'CA' 'AU' 'NO' 'IT' 'DE' 'IE' 'MX' 'ES' 'N,0"' 'SE' 'FR' 'NL'
 'NZ' 'CH' 'AT' 'DK' 'BE' 'HK' 'LU' 'SG' 'JP']

In [35]:
# on "country", there is an odd value - 'N,0"', let's inspect that
# let's first see how many of them are there
len(df[df.country == 'N,0"'])

3797

In [37]:
# this looks familiar
len(df[df['usd pledged'].isnull()])

3797

In [42]:
# it's highly likely that the "NaN" in "usd pledged" co-occur with the 'N,0"' in "country", let's test that
df_this = df[df.country == 'N,0"']
df_that = df[df['usd pledged'].isnull()]
# same ID, same entry
(df_this.ID != df_that.ID).sum()

0

the test confirmed the assumption, so dropping the entries with missing values will also take care of this oddity

In [45]:
# now drop the entries with missing values
print(df.shape)
df = df.dropna()
print(df.shape)

# write it to a new file
df.to_csv('ks-projects-201801-na-dropped.csv')

(374860, 15)
(374860, 15)