# EDA

In [1]:
# import packages
import pandas as pd
import numpy as np

In [2]:
# load data
df_2018 = pd.read_csv('ks-projects-201801.csv')
df_2016 = pd.read_csv('ks-projects-201612.csv', encoding = 'Windows-1252')

C:\Users\Dell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# preview of first 5 rows
df_2018.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [4]:
df_2016.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [5]:
# shape & info of data
print(df_2018.shape)
print(df_2018.info())

(378661, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
ID                  378661 non-null int64
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB
None

In [6]:
print(df_2016.shape)
print(df_2016.info())

(323750, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
ID                323750 non-null int64
name              323746 non-null object
category          323745 non-null object
main_category     323750 non-null object
currency          323750 non-null object
deadline          323750 non-null object
goal              323750 non-null object
launched          323750 non-null object
pledged           323750 non-null object
state             323750 non-null object
backers           323750 non-null object
country           323750 non-null object
usd pledged       319960 non-null object
Unnamed: 13       625 non-null object
Unnamed: 14       12 non-null object
Unnamed: 15       4 non-null object
Unnamed: 16       1 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB
None

In [7]:
# count of unique values for each variables  
df_2018.nunique()

ID                  378661
name                375764
category               159
main_category           15
currency                14
deadline              3164
goal                  8353
launched            378089
pledged              62130
state                    6
backers               3963
country                 23
usd pledged          95455
usd_pledged_real    106065
usd_goal_real        50339
dtype: int64

In [8]:
df_2016.nunique()

ID                323750
name              321612
category             770
main_category        120
currency              37
deadline          294813
goal                8188
launched          322798
pledged            55598
state                410
backers             3592
country              162
usd pledged        94376
Unnamed: 13          436
Unnamed: 14            8
Unnamed: 15            4
Unnamed: 16            1
dtype: int64

There appears to be some obvious discrepancy in terms of numbers of unique values across two data frames (e.g. category)
Requires further exploration

In [9]:
# df_2016 has issues referencing columns
print(df_2018['ID'].head())
print(df_2016['ID'].head())

0    1000002330
1    1000003930
2    1000004038
3    1000007540
4    1000011046
Name: ID, dtype: int64

KeyError: 'ID'

In [10]:
# Checking column names
print(df_2016.columns.tolist())

['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ', 'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ', 'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']

In [11]:
# strip the white-spaces
df_2016.columns = df_2016.columns.str.strip()
print(df_2016.columns.tolist())

['ID', 'name', 'category', 'main_category', 'currency', 'deadline', 'goal', 'launched', 'pledged', 'state', 'backers', 'country', 'usd pledged', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']

In [12]:
# now let's see if it works
print(df_2018['ID'].head())
print(df_2016['ID'].head())

0    1000002330
1    1000003930
2    1000004038
3    1000007540
4    1000011046
Name: ID, dtype: int64
0    1000002330
1    1000004038
2    1000007540
3    1000011046
4    1000014025
Name: ID, dtype: int64

In [13]:
# length of the two data frames
print('length df_2016: ', len(df_2016))
print('length df_2018: ', len(df_2018))
# difference in length 
diff_len = len(df_2018) - len(df_2016)
print('length difference: ',diff_len)

length df_2016:  323750
length df_2018:  378661
length difference:  54911

In [14]:
# check for 'ID' duplicates within 
print(sum(df_2016['ID'].duplicated()))
print(sum(df_2018['ID'].duplicated()))

0
0

In [15]:
# no duplicates from within
# now, outer join with concatenation vertically & check if there is duplicate across two data frames
df_try = pd.concat([df_2016, df_2018], join = 'outer', axis = 0)
# check length
print('length of concatenated df: ',len(df_try))
# check duplicates in 'ID'
duplicate_count = sum(df_try['ID'].duplicated())
print('number of duplicated "ID" in concatenated df: ', duplicate_count)

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

length of concatenated df:  702411
number of duplicated "ID" in concatenated df:  323750

In [16]:
# check if the amount of duplicate equals the amount of entries in df_2016
print(duplicate_count == len(df_2016))

True

In [17]:
# are all these entries indeed from df_2016? 

# df_try_dupID - the duplicated 'ID' in df_try
df_try_dupID = df_try[df_try['ID'].duplicated()].sort_values(['ID'])['ID'].reset_index(drop = True)

# df_2016_ID 
df_2016_ID = df_2016.sort_values(['ID'])['ID'].reset_index(drop = True)

print(df_try_dupID.head(),'\n\n',df_2016_ID.head(), '\n\n')

print(sum(df_try_dupID != df_2016_ID))

0     5971
1    18520
2    21109
3    21371
4    24380
Name: ID, dtype: int64

 0     5971
1    18520
2    21109
3    21371
4    24380
Name: ID, dtype: int64


0

Indeed, all entries with duplicated 'ID' appear in both 2016 & 2018, 2018 is the updated version of 2016

In [18]:
print(df_2018.nunique(), '\n\n')
print(df_2016.nunique())

ID                  378661
name                375764
category               159
main_category           15
currency                14
deadline              3164
goal                  8353
launched            378089
pledged              62130
state                    6
backers               3963
country                 23
usd pledged          95455
usd_pledged_real    106065
usd_goal_real        50339
dtype: int64


ID               323750
name             321612
category            770
main_category       120
currency             37
deadline         294813
goal               8188
launched         322798
pledged           55598
state               410
backers            3592
country             162
usd pledged       94376
Unnamed: 13         436
Unnamed: 14           8
Unnamed: 15           4
Unnamed: 16           1
dtype: int64

In [19]:
print(df_2018['main_category'].unique())
print(df_2016['main_category'].unique())

['Publishing' 'Film & Video' 'Music' 'Food' 'Design' 'Crafts' 'Games'
 'Comics' 'Fashion' 'Theater' 'Art' 'Photography' 'Technology' 'Dance'
 'Journalism']
['Publishing' 'Film & Video' 'Music' 'Food' 'Design' 'Crafts' 'Games'
 'Comics' 'Fashion' 'Theater' 'Art' 'Photography' 'Technology' 'Dance'
 'Journalism' 'Metal' 'Cookbooks' 'Web' 'Shorts' 'Plays' 'Hardware'
 'Playing Cards' 'World Music' 'Mobile Games' 'Camera Equipment'
 'Classical Music' 'Conceptual Art' 'Nonfiction' 'Product Design'
 'Documentary' 'Video Games' ' 50 Years in the Making' 'Country & Folk'
 'Mixed Media' 'Comic Books' ' Retro Gaming art.' 'Places' 'Events'
 'Fiction' 'Tabletop Games' 'Video' 'Performance Art' 'Small Batch'
 "Children's Books" 'Poetry' 'Public Art' 'Art Books' 'Drama' 'Apparel'
 'Sculpture' 'DIY' 'Hip-Hop' 'Accessories' 'People' 'Webseries'
 'Interactive Design' 'Periodicals' 'Vegan' 'Indie Rock' 'Academic' 'Pop'
 ' M.ercury E.dition)' 'Faith' 'Jazz' 'Space Exploration' 'Performances'
 'Digital Art' 'Narrative Film' 'Apps' 'Installations' 'Pet Fashion'
 'Restaurants' 'Rock' 'Software' 'Drinks' 'Architecture' 'Photobooks'
 'Textiles' 'Fine Art' 'Food Trucks' ' Learn' 'Wearables'
 'Gaming Hardware' 'Civic Design' ' Kingdom of Heaven.' 'Zines' 'Musical'
 'Graphic Design' 'Print' 'Horror' 'Animation' 'Flight' ' pants'
 'Illustration' 'Festivals' 'Radio & Podcasts' 'Action' 'Young Adult'
 'DIY Electronics' 'Painting' 'Webcomics' 'Television' '3D Printing'
 'Audio' 'Jewelry' 'Woodworking' 'Electronic Music' ' Good for your skin'
 ' Spirits' 'R&B' 'Robots' ' soccer' 'Nature' ' Demons '
 'Literary Journals' ' Divine Wisdom' 'Farms' 'Ready-to-wear'
 ' Restore Pride' 'Kids']

In [20]:
# preview of the concatenated 
df_try.head()

,ID,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,backers,category,country,currency,deadline,goal,launched,main_category,name,pledged,state,usd pledged,usd_goal_real,usd_pledged_real
0,1000002330,NaN,NaN,NaN,NaN,0,Poetry,GB,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,Publishing,The Songs of Adelaide & Abullah,0,failed,0,NaN,NaN
1,1000004038,NaN,NaN,NaN,NaN,3,Narrative Film,US,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,Film & Video,Where is Hank?,220,failed,220,NaN,NaN
2,1000007540,NaN,NaN,NaN,NaN,1,Music,US,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,Music,ToshiCapital Rekordz Needs Help to Complete Album,1,failed,1,NaN,NaN
3,1000011046,NaN,NaN,NaN,NaN,14,Film & Video,US,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,Film & Video,Community Film Project: The Art of Neighborhoo...,1283,canceled,1283,NaN,NaN
4,1000014025,NaN,NaN,NaN,NaN,224,Restaurants,US,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,Food,Monarch Espresso Bar,52375,successful,52375,NaN,NaN

In [23]:
# drop empty columns
# df_try = df_try.drop(['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], axis = 0)
# get only entries with duplicated 'ID' in new df
df_dup = df_try[df_try['ID'].duplicated(keep = False)]
# sort by 'ID' and 'main_category'
df_dup = df_dup.sort_values(['ID', 'main_category'])
df_dup[150000:150100]

,ID,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,backers,category,country,currency,deadline,goal,launched,main_category,name,pledged,state,usd pledged,usd_goal_real,usd_pledged_real
240221,498048958,NaN,NaN,NaN,NaN,25,Technology,US,USD,2011-11-22 13:59:25,8400,2011-09-23 13:59:25,Technology,kartuzija3D,903,failed,903,NaN,NaN
280730,498048958,NaN,NaN,NaN,NaN,25,Technology,US,USD,2011-11-22,8400,2011-09-23 13:59:25,Technology,kartuzija3D,903,failed,903,8400.00,903.00
240222,498052849,NaN,NaN,NaN,NaN,0,Photography,US,USD,2013-01-10 08:27:33,75,2012-12-11 08:27:33,Photography,#HateMeNow Photoshoot,0,failed,0,NaN,NaN
280731,498052849,NaN,NaN,NaN,NaN,0,Photography,US,USD,2013-01-10,75,2012-12-11 08:27:33,Photography,#HateMeNow Photoshoot,0,failed,0,75.00,0.00
240223,498063432,NaN,NaN,NaN,NaN,0,People,US,USD,2014-09-09 17:08:45,500,2014-07-11 17:08:45,Photography,"Nikon Camera for Cal State University, San Ber...",0,failed,0,NaN,NaN
280732,498063432,NaN,NaN,NaN,NaN,0,People,US,USD,2014-09-09,500,2014-07-11 17:08:45,Photography,"Nikon Camera for Cal State University, San Ber...",0,failed,0,500.00,0.00
240224,498083261,NaN,NaN,NaN,NaN,1,Food Trucks,US,USD,2016-10-23 23:37:49,100000,2016-09-08 23:37:49,Food,The Hungry Tummy - Mobile Food Truck,1,failed,0,NaN,NaN
280733,498083261,NaN,NaN,NaN,NaN,1,Food Trucks,US,USD,2016-10-23,100000,2016-09-08 23:37:49,Food,The Hungry Tummy - Mobile Food Truck,1,failed,0,100000.00,1.00
240225,498106212,NaN,NaN,NaN,NaN,58,Webseries,GB,GBP,2014-03-21 18:30:00,30000,2014-02-17 17:08:03,Film & Video,Finding Westley,6276,failed,10510.22132604,NaN,NaN
280734,498106212,NaN,NaN,NaN,NaN,58,Webseries,GB,GBP,2014-03-21,30000,2014-02-17 17:08:03,Film & Video,Finding Westley,6276,failed,10510.2,49467.40,10348.58
240226,498114985,3185,NaN,NaN,NaN,successful,poetry to celebrate and awaken.,55,Publishing,USD,2013-05-05 14:26:15,3000,Poetry,Through the Gate of Trees,2013-04-05 14:26:15,3185,US,NaN,NaN
280736,498114985,NaN,NaN,NaN,NaN,55,Poetry,US,USD,2013-05-05,3000,2013-04-05 14:26:15,Publishing,Through the Gate of Trees; poetry to celebrate...,3185,successful,3185,3000.00,3185.00
240227,498120012,NaN,NaN,NaN,NaN,16,Product Design,US,USD,2013-09-23 09:57:57,80000,2013-08-21 09:59:42,Design,"Kool Cap, the easy way to breeze through your ...",529,canceled,529,NaN,NaN
280737,498120012,NaN,NaN,NaN,NaN,16,Product Design,US,USD,2013-09-23,80000,2013-08-21 09:59:42,Design,"Kool Cap, the easy way to breeze through your ...",529,canceled,529,80000.00,529.00
240228,498132862,NaN,NaN,NaN,NaN,0,Poetry,US,USD,2010-06-28 18:00:00,3000,2010-05-07 16:34:19,Publishing,Sawmill Boys: Getting the word out about mount...,0,failed,0,NaN,NaN
280739,498132862,NaN,NaN,NaN,NaN,0,Poetry,US,USD,2010-06-28,3000,2010-05-07 16:34:19,Publishing,Sawmill Boys: Getting the word out about mount...,0,failed,0,3000.00,0.00
240229,498141141,NaN,NaN,NaN,NaN,131,Music,US,USD,2011-08-31 00:50:25,3000,2011-08-01 00:50:25,Music,The Nouns Tour,3160.22,successful,3160.22,NaN,NaN
280740,498141141,NaN,NaN,NaN,NaN,131,Music,US,USD,2011-08-31,3000,2011-08-01 00:50:25,Music,The Nouns Tour,3160.22,successful,3160.22,3000.00,3160.22
240230,498150254,NaN,NaN,NaN,NaN,294,Product Design,US,USD,2016-09-19 14:54:44,4400,2016-08-15 14:54:44,Design,The Notebook Folio - Bridging Analog with Digi...,14633,successful,2690,NaN,NaN
280741,498150254,NaN,NaN,NaN,NaN,294,Product Design,US,USD,2016-09-19,4400,2016-08-15 14:54:44,Design,The Notebook Folio - Bridging Analog with Digi...,14633,successful,2690,4400.00,14633.00
240231,498152407,NaN,NaN,NaN,NaN,4,Software,US,USD,2014-07-15 21:20:14,10000,2014-06-10 21:20:14,Technology,Ties - Lets Meet & Create,46,failed,46,NaN,NaN
280742,498152407,NaN,NaN,NaN,NaN,4,Software,US,USD,2014-07-15,10000,2014-06-10 21:20:14,Technology,Ties - Lets Meet & Create,46,failed,46,10000.00,46.00
240232,498158376,NaN,NaN,NaN,NaN,55,Nonfiction,US,USD,2011-03-15 23:58:12,3500,2011-02-14 00:58:12,Publishing,Iran: One man's inspiring journey redefines fr...,3750,successful,3750,NaN,NaN
280743,498158376,NaN,NaN,NaN,NaN,55,Nonfiction,US,USD,2011-03-15,3500,2011-02-14 00:58:12,Publishing,Iran: One man's inspiring journey redefines fr...,3750,successful,3750,3500.00,3750.00
240233,498159218,NaN,NaN,NaN,NaN,32,Comics,US,USD,2013-04-03 00:11:30,5000,2013-02-02 00:11:30,Comics,The Heroes of Echo Company,632,failed,632,NaN,NaN
280744,498159218,NaN,NaN,NaN,NaN,32,Comics,US,USD,2013-04-03,5000,2013-02-02 00:11:30,Comics,The Heroes of Echo Company,632,failed,632,5000.00,632.00
240234,498167605,NaN,NaN,NaN,NaN,57,Narrative Film,US,USD,2014-09-10 20:01:11,4500,2014-08-11 20:01:11,Film & Video,Notes From There (a short film),4916,successful,4916,NaN,NaN
280745,498167605,NaN,NaN,NaN,NaN,57,Narrative Film,US,USD,2014-09-10,4500,2014-08-11 20:01:11,Film & Video,Notes From There (a short film),4916,successful,4916,4500.00,4916.00
240236,498176122,NaN,NaN,NaN,NaN,2,Fashion,US,USD,2012-03-02 03:40:27,16423,2012-02-01 03:40:27,Fashion,Kounter Kulture Studios T-Shirt Revolution,26,failed,26,NaN,NaN
280747,498176122,NaN,NaN,NaN,NaN,2,Fashion,US,USD,2012-03-02,16423,2012-02-01 03:40:27,Fashion,Kounter Kulture Studios T-Shirt Revolution,26,failed,26,16423.00,26.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240258,498300200,NaN,NaN,NaN,NaN,0,Food Trucks,US,USD,2015-09-07 03:43:40,30000,2015-07-09 03:43:40,Food,Fatso's Food Truck,0,failed,0,NaN,NaN
280771,498300200,NaN,NaN,NaN,NaN,0,Food Trucks,US,USD,2015-09-07,30000,2015-07-09 03:43:40,Food,Fatso's Food Truck,0,failed,0,30000.00,0.00
240259,498300937,NaN,NaN,NaN,NaN,1,Publishing,CA,CAD,2014-08-04 04:54:43,90800,2014-07-05 04:54:43,Publishing,A Conversation With Oneself + Associated Works,1,failed,0.93755508,NaN,NaN
280772,498300937,NaN,NaN,NaN,NaN,1,Publishing,CA,CAD,2014-08-04,90800,2014-07-05 04:54:43,Publishing,A Conversation With Oneself + Associated Works,1,failed,0.94,83180.65,0.92
240260,498307062,NaN,NaN,NaN,NaN,16,Art,GB,GBP,2013-04-11 20:27:18,400,2013-03-12 19:27:18,Art,Ephemeron: A Critique of Artists as Curators i...,410,successful,611.7138746,NaN,NaN
280773,498307062,NaN,NaN,NaN,NaN,16,Art,GB,GBP,2013-04-11,400,2013-03-12 19:27:18,Art,Ephemeron: A Critique of Artists as Curators i...,410,successful,611.71,614.43,629.79
240261,498312426,NaN,NaN,NaN,NaN,7,Mixed Media,US,USD,2012-12-03 08:59:00,325,2012-11-01 20:32:20,Art,Children Creating and Gifting Art,335,successful,335,NaN,NaN
280775,498312426,NaN,NaN,NaN,NaN,7,Mixed Media,US,USD,2012-12-03,325,2012-11-01 20:32:20,Art,Children Creating and Gifting Art,335,successful,335,325.00,335.00
240262,498312732,NaN,NaN,NaN,NaN,1946,Tabletop Games,US,USD,2015-10-01 05:59:00,2000,2015-09-01 14:55:17,Games,The Cloud Dungeon: D.I.Y. paper craft RPG game...,30446.99,successful,30446.99,NaN,NaN
280776,498312732,NaN,NaN,NaN,NaN,1946,Tabletop Games,US,USD,2015-10-01,2000,2015-09-01 14:55:17,Games,The Cloud Dungeon: D.I.Y. paper craft RPG game...,30447,successful,30447,2000.00,30446.99
240264,498318758,NaN,NaN,NaN,NaN,0,Pop,US,USD,2012-12-08 05:00:00,500,2012-11-16 20:05:49,Music,REDEMPTION - 2.0 LIVE AND REMYXED CD RELEASE P...,0,failed,0,NaN,NaN
280778,498318758,NaN,NaN,NaN,NaN,0,Pop,US,USD,2012-12-08,500,2012-11-16 20:05:49,Music,REDEMPTION - 2.0 LIVE AND REMYXED CD RELEASE P...,0,failed,0,500.00,0.00
240265,498319957,NaN,NaN,NaN,NaN,105,Indie Rock,US,USD,2012-08-11 00:00:00,4575,2012-07-09 04:15:10,Music,KATA 'The Rising' - Double LP (Vinyl Release),5322,successful,5322,NaN,NaN
280779,498319957,NaN,NaN,NaN,NaN,105,Indie Rock,US,USD,2012-08-11,4575,2012-07-09 04:15:10,Music,KATA 'The Rising' - Double LP (Vinyl Release),5322,successful,5322,4575.00,5322.00
240266,498325074,NaN,NaN,NaN,NaN,1,Art,US,USD,2015-12-13 01:15:00,7000,2015-11-21 12:01:33,Art,Black and Indigenous Art from around the world,25,failed,25,NaN,NaN
280780,498325074,NaN,NaN,NaN,NaN,1,Art,US,USD,2015-12-13,7000,2015-11-21 12:01:33,Art,Black and Indigenous Art from around the world,25,failed,25,7000.00,25.00
240267,498388909,NaN,NaN,NaN,NaN,1,Film & Video,US,USD,2015-10-11 08:59:00,675000,2015-08-26 15:26:56,Film & Video,Farm or Die! How a farming revolution can save...,100,canceled,100,NaN,NaN
280783,498388909,NaN,NaN,NaN,NaN,1,Film & Video,US,USD,2015-10-11,675000,2015-08-26 15:26:56,Film & Video,Farm or Die! How a farming revolution can save...,100,canceled,100,675000.00,100.00
240268,498391959,NaN,NaN,NaN,NaN,3,Mixed Media,US,USD,2015-06-20 06:10:09,200,2015-04-21 06:10:09,Art,"Sculptures, Drawings, Painting, and more!",4,failed,4,NaN,NaN
280784,498391959,NaN,NaN,NaN,NaN,3,Mixed Media,US,USD,2015-06-20,200,2015-04-21 06:10:09,Art,"Sculptures, Drawings, Painting, and more!",4,failed,4,200.00,4.00
240269,498394142,NaN,NaN,NaN,NaN,21,Webseries,US,USD,2014-08-31 19:11:22,30000,2014-08-01 19:11:22,Film & Video,OlgaOMG- online and DVD educational series,4405,failed,4405,NaN,NaN
280785,498394142,NaN,NaN,NaN,NaN,21,Webseries,US,USD,2014-08-31,30000,2014-08-01 19:11:22,Film & Video,OlgaOMG- online and DVD educational series,4405,failed,4405,30000.00,4405.00
240270,498399041,NaN,NaN,NaN,NaN,1,Faith,US,USD,2015-04-25 00:30:58,10000,2015-03-25 23:30:58,Music,Word Exchange Album Coming Soon,1,failed,1,NaN,NaN
280786,498399041,NaN,NaN,NaN,NaN,1,Faith,US,USD,2015-04-25,10000,2015-03-25 23:30:58,Music,Word Exchange Album Coming Soon,1,failed,1,10000.00,1.00
240271,498404172,NaN,NaN,NaN,NaN,0,Pop,US,USD,2014-06-20 02:50:37,20000,2014-05-21 02:50:37,Music,Major Recording Project with a Grammy Nominate...,0,canceled,0,NaN,NaN
280787,498404172,NaN,NaN,NaN,NaN,0,Pop,US,USD,2014-06-20,20000,2014-05-21 02:50:37,Music,Major Recording Project with a Grammy Nominate...,0,canceled,0,20000.00,0.00
240272,498408209,NaN,NaN,NaN,NaN,0,Product Design,US,USD,2011-06-07 23:43:04,5000,2011-05-18 23:43:04,Design,Lets Launch at the INPEX Show,0,failed,0,NaN,NaN
280788,498408209,NaN,NaN,NaN,NaN,0,Product Design,US,USD,2011-06-07,5000,2011-05-18 23:43:04,Design,Lets Launch at the INPEX Show,0,failed,0,5000.00,0.00
240273,498416390,NaN,NaN,NaN,NaN,5,Crafts,US,USD,2016-05-14 00:37:41,10000,2016-03-14 23:37:41,Crafts,Coffuel Briquettes to replace wood and charcoal,132,failed,132,NaN,NaN
280789,498416390,NaN,NaN,NaN,NaN,5,Crafts,US,USD,2016-05-14,10000,2016-03-14 23:37:41,Crafts,Coffuel Briquettes to replace wood and charcoal,132,failed,132,10000.00,132.00

In [27]:
df_compare = df_2018[["ID", "main_category"]].merge(df_2016[["ID", "main_category"]], how="left", on='ID', 
                                                    suffixes=("_2018", "_2016"))

In [29]:
df_compare.head()

           ID main_category_2018 main_category_2016
0  1000002330         Publishing         Publishing
1  1000003930       Film & Video                NaN
2  1000004038       Film & Video       Film & Video
3  1000007540              Music              Music
4  1000011046       Film & Video       Film & Video

In [35]:
df_compare[(df_compare['main_category_2018'] != df_compare['main_category_2016']) & (df_compare['main_category_2016'].notnull())]

                ID main_category_2018       main_category_2016
1693    1008705746              Music                    Metal
1819    1009317190               Food                Cookbooks
2243    1011687764         Technology                      Web
2814     101453314       Film & Video                   Shorts
3577    1018515072            Theater                    Plays
5656    1028998661         Technology                 Hardware
5683     102911383              Games            Playing Cards
5895    1030235554              Music              World Music
7667    1038703212              Games             Mobile Games
8158    1041248261         Technology         Camera Equipment
8903    1044922583              Music          Classical Music
9140    1046161804                Art           Conceptual Art
11644   1058376015         Publishing               Nonfiction
11835   1059393119             Design           Product Design
13074   1065632207       Film & Video              Documentary
13174     10661684       Film & Video              Documentary
14025   1070559418       Film & Video                   Shorts
14128   1071067313              Games              Video Games
16032   1081139420              Music   50 Years in the Making
16237   1082145521       Film & Video              Documentary
17019   1086338488              Music           Country & Folk
17455    108863281                Art              Mixed Media
17767   1090187010             Comics              Comic Books
18441   1093662806             Design           Product Design
19150   1097082409             Crafts        Retro Gaming art.
19978   1101406194              Music          Classical Music
20611   1104693057        Photography                   Places
21056   1106734072               Food                   Events
21539   1109234649         Publishing                  Fiction
21830   1110576549         Publishing               Nonfiction
...            ...                ...                      ...
353002   868352965       Film & Video              Documentary
353646   871484997         Publishing                Art Books
353713   871787114         Publishing              Periodicals
357068   888963653              Games              Video Games
357323   890269949            Fashion            Restore Pride
358136   894430743       Film & Video           Narrative Film
358838   898132486              Games              Video Games
360150   904800959         Technology                 Hardware
362688   917983232              Music                     Rock
365025   929880656            Fashion                  Apparel
365107   930244233         Publishing                  Fiction
365132   930337808       Film & Video           Narrative Film
367467   942417221              Music          Classical Music
367540   942697158              Music                     Rock
367900   944429286                Art              Mixed Media
368065    94521031       Film & Video                   Shorts
368181    94573368         Publishing                  Fiction
368347   946554330         Publishing               Nonfiction
368719   948525980              Games              Video Games
369548   952768436              Music                  Hip-Hop
369684   953402698                Art                Sculpture
370244   956497576         Technology        Space Exploration
370786   959304168                Art              Mixed Media
373535    97337924              Music           Country & Folk
375472   983555190              Music                     Kids
375787   985310209              Games           Tabletop Games
375849   985600912                Art             Illustration
376526   989007729       Film & Video           Narrative Film
376780   990511774              Music               Indie Rock
377943   996542939       Film & Video                   Shorts

[444 rows x 3 columns]

In [33]:
df_compare[(df_compare['main_category_2018'] != df_compare['main_category_2016']) & (df_compare['main_category_2016'].isnull())].shape

(54911, 3)

In [34]:
df_compare[(df_compare['main_category_2018'] != df_compare['main_category_2016']) & (df_compare['main_category_2018'].isnull())].shape

(0, 3)

### Use 2018 because it contains all the entries and updated missing information from 2016's data

# Continue
- Finish wrangling data first
    - compare project id to - duplicates
- Success rate by category
- Success rate by backers
- By country? 
- By currency?
- Do something else on violin plots
    - cut out outliers on boxplots
        - cut axis
            - ylim(), xlim()
        - subset data sets
        - boxplot rule
            - interquartile range (IR)
            - Q1 - 1.5 IR
            - Q3 + 1.5 IR
- Avoid pie-charts
    - bar plots 
- Distribution of other variables
    - histogram 
- Association measures on categorical variables
    - chi-square
    - contigency table
- Correlation on continuous variables 
- Work on the the other file
- Distribution measures 
    - moments 
    - basic statistical measures
    - distribution tests
    - characteristics of outliers