# EDA

In [23]:
# import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
# load data
df_2018 = pd.read_csv('ks-projects-201801.csv')
df_2016 = pd.read_csv('ks-projects-201612.csv', encoding = 'Windows-1252')

C:\Users\Dell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
# preview of first 5 rows
df_2018.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [27]:
df_2016.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [28]:
# shape & info of data
print(df_2018.shape)
print(df_2018.info())

(378661, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
ID                  378661 non-null int64
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB
None

In [29]:
print(df_2016.shape)
print(df_2016.info())

(323750, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
ID                323750 non-null int64
name              323748 non-null object
category          323745 non-null object
main_category     323750 non-null object
currency          323750 non-null object
deadline          323750 non-null object
goal              323750 non-null object
launched          323750 non-null object
pledged           323750 non-null object
state             323750 non-null object
backers           323750 non-null object
country           323750 non-null object
usd pledged       319960 non-null object
Unnamed: 13       625 non-null object
Unnamed: 14       12 non-null object
Unnamed: 15       4 non-null object
Unnamed: 16       1 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB
None

In [30]:
# count of unique values for each variables  
df_2018.nunique()

ID                  378661
name                375764
category               159
main_category           15
currency                14
deadline              3164
goal                  8353
launched            378089
pledged              62130
state                    6
backers               3963
country                 23
usd pledged          95455
usd_pledged_real    106065
usd_goal_real        50339
dtype: int64

In [33]:
df_2016.nunique()

ID                323750
name              321614
category             770
main_category        120
currency              37
deadline          294813
goal                8188
launched          322798
pledged            55598
state                410
backers             3592
country              162
usd pledged        94376
Unnamed: 13          436
Unnamed: 14            8
Unnamed: 15            4
Unnamed: 16            1
dtype: int64

There appears to be some obvious discrepancy in terms of numbers of unique values across two data frames (e.g. category)
Requires further exploration

In [32]:
# df_2016 has issues referencing columns
print(df_2018['ID'].head())
print(df_2016['ID'].head())

0    1000002330
1    1000003930
2    1000004038
3    1000007540
4    1000011046
Name: ID, dtype: int64

KeyError: 'ID'

In [36]:
# Checking column names
print(df_2016.columns.tolist())

['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ', 'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ', 'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']

In [40]:
# strip the white-spaces
df_2016.columns = df_2016.columns.str.strip()
print(df_2016.columns.tolist())

['ID', 'name', 'category', 'main_category', 'currency', 'deadline', 'goal', 'launched', 'pledged', 'state', 'backers', 'country', 'usd pledged', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']

In [42]:
# now let's see if it works
print(df_2018['ID'].head())
print(df_2016['ID'].head())

0    1000002330
1    1000003930
2    1000004038
3    1000007540
4    1000011046
Name: ID, dtype: int64
0    1000002330
1    1000004038
2    1000007540
3    1000011046
4    1000014025
Name: ID, dtype: int64

In [83]:
# length of the two data frames
print('length df_2016: ', len(df_2016))
print('length df_2018: ', len(df_2018))
# difference in length 
diff_len = len(df_2018) - len(df_2016)
print('length difference: ',diff_len)

length df_2016:  323750
length df_2018:  378661
length difference:  54911

In [60]:
# check for 'ID' duplicates within 
print(sum(df_2016['ID'].duplicated()))
print(sum(df_2018['ID'].duplicated()))

0
0

In [84]:
# no duplicates from within
# now, outer join with concatenation vertically & check if there is duplicate across two data frames
df_try = pd.concat([df_2016, df_2018], join = 'outer', axis = 0)
# check length
print('length of concatenated df: ',len(df_try))
# check duplicates in 'ID'
duplicate_count = sum(df_try['ID'].duplicated())
print('number of duplicated "ID" in concatenated df: ', duplicate_count)

length of concatenated df:  702411
number of duplicated "ID" in concatenated df:  323750

In [73]:
# check if the amount of duplicate equals the amount of entries in df_2016
print(duplicate_count == len(df_2016))

True

so all df_2016 'ID' are duplicated in df_2018, then why some column in df_2016 has more unique values than df_2018?

In [81]:
print(df_2018.nunique(), '\n\n')
print(df_2016.nunique())

ID                  378661
name                375764
category               159
main_category           15
currency                14
deadline              3164
goal                  8353
launched            378089
pledged              62130
state                    6
backers               3963
country                 23
usd pledged          95455
usd_pledged_real    106065
usd_goal_real        50339
dtype: int64


ID               323750
name             321614
category            770
main_category       120
currency             37
deadline         294813
goal               8188
launched         322798
pledged           55598
state               410
backers            3592
country             162
usd pledged       94376
Unnamed: 13         436
Unnamed: 14           8
Unnamed: 15           4
Unnamed: 16           1
dtype: int64

In [80]:
print(df_2018['main_category'].unique())
print(df_2016['main_category'].unique())

['Publishing' 'Film & Video' 'Music' 'Food' 'Design' 'Crafts' 'Games'
 'Comics' 'Fashion' 'Theater' 'Art' 'Photography' 'Technology' 'Dance'
 'Journalism']
['Publishing' 'Film & Video' 'Music' 'Food' 'Design' 'Crafts' 'Games'
 'Comics' 'Fashion' 'Theater' 'Art' 'Photography' 'Technology' 'Dance'
 'Journalism' 'Metal' 'Cookbooks' 'Web' 'Shorts' 'Plays' 'Hardware'
 'Playing Cards' 'World Music' 'Mobile Games' 'Camera Equipment'
 'Classical Music' 'Conceptual Art' 'Nonfiction' 'Product Design'
 'Documentary' 'Video Games' ' 50 Years in the Making' 'Country & Folk'
 'Mixed Media' 'Comic Books' ' Retro Gaming art.' 'Places' 'Events'
 'Fiction' 'Tabletop Games' 'Video' 'Performance Art' 'Small Batch'
 "Children's Books" 'Poetry' 'Public Art' 'Art Books' 'Drama' 'Apparel'
 'Sculpture' 'DIY' 'Hip-Hop' 'Accessories' 'People' 'Webseries'
 'Interactive Design' 'Periodicals' 'Vegan' 'Indie Rock' 'Academic' 'Pop'
 ' M.ercury E.dition)' 'Faith' 'Jazz' 'Space Exploration' 'Performances'
 'Digital Art' 'Narrative Film' 'Apps' 'Installations' 'Pet Fashion'
 'Restaurants' 'Rock' 'Software' 'Drinks' 'Architecture' 'Photobooks'
 'Textiles' 'Fine Art' 'Food Trucks' ' Learn' 'Wearables' 'Gaming Hardware'
 'Civic Design' ' Kingdom of Heaven.' 'Zines' 'Musical' 'Graphic Design'
 'Print' 'Horror' 'Animation' 'Flight' ' pants' 'Illustration' 'Festivals'
 'Radio & Podcasts' 'Action' 'Young Adult' 'DIY Electronics' 'Painting'
 'Webcomics' 'Television' '3D Printing' 'Audio' 'Jewelry' 'Woodworking'
 'Electronic Music' ' Good for your skin' ' Spirits' 'R&B' 'Robots'
 ' soccer' 'Nature' ' Demons ' 'Literary Journals' ' Divine Wisdom' 'Farms'
 'Ready-to-wear' ' Restore Pride' 'Kids']

# Continue
- Finish wrangling data first
    - compare project id to - duplicates
- Success rate by category
- Success rate by backers
- By country? 
- By currency?
- Do something else on violin plots
    - cut out outliers on boxplots
        - cut axis
            - ylim(), xlim()
        - subset data sets
        - boxplot rule
            - interquartile range (IR)
            - Q1 - 1.5 IR
            - Q3 + 1.5 IR
- Avoid pie-charts
    - bar plots 
- Distribution of other variables
    - histogram 
- Association measures on categorical variables
    - chi-square
    - contigency table
- Correlation on continuous variables 
- Work on the the other file
- Distribution measures 
    - moments 
    - basic statistical measures
    - distribution tests
    - characteristics of outliers