# EDA

In [1]:
# import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [57]:
# load data
df_2018 = pd.read_csv('ks-projects-201801.csv')
df_2016 = pd.read_csv('ks-projects-201612.csv', encoding = 'Windows-1252')

C:\Users\Dell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [61]:
df_2016.to_csv('ks-projects-2016_utf-8.csv', encoding = 'utf-8')
df_2016 = pd.read_csv('ks-projects-2016_utf-8.csv')

C:\Users\Dell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
# preview of first 5 rows
df_2018.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [50]:
df_2016.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [12]:
# shape & info of data
print(df_2018.shape)
print(df_2018.info())

(378661, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
ID                  378661 non-null int64
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB
None

In [13]:
print(df_2016.shape)
print(df_2016.info())

(323750, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
ID                323750 non-null int64
name              323748 non-null object
category          323745 non-null object
main_category     323750 non-null object
currency          323750 non-null object
deadline          323750 non-null object
goal              323750 non-null object
launched          323750 non-null object
pledged           323750 non-null object
state             323750 non-null object
backers           323750 non-null object
country           323750 non-null object
usd pledged       319960 non-null object
Unnamed: 13       625 non-null object
Unnamed: 14       12 non-null object
Unnamed: 15       4 non-null object
Unnamed: 16       1 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB
None

From column information, there are not many null values, but this requires further exploration

In [24]:
# count of unique values for each variables  
df_2018.nunique()

ID                  378661
name                375764
category               159
main_category           15
currency                14
deadline              3164
goal                  8353
launched            378089
pledged              62130
state                    6
backers               3963
country                 23
usd pledged          95455
usd_pledged_real    106065
usd_goal_real        50339
dtype: int64

In [25]:
df_2016.nunique()

ID                323750
name              321614
category             770
main_category        120
currency              37
deadline          294813
goal                8188
launched          322798
pledged            55598
state                410
backers             3592
country              162
usd pledged        94376
Unnamed: 13          436
Unnamed: 14            8
Unnamed: 15            4
Unnamed: 16            1
dtype: int64

In [66]:
print(df_2018['ID'])
print(df_2016['ID'])

0         1000002330
1         1000003930
2         1000004038
3         1000007540
4         1000011046
5         1000014025
6         1000023410
7         1000030581
8         1000034518
9          100004195
10         100004721
11         100005484
12        1000055792
13        1000056157
14        1000057089
15        1000064368
16        1000064918
17        1000068480
18        1000070642
19        1000071625
20        1000072011
21        1000081649
22        1000082254
23        1000087442
24        1000091520
25        1000102741
26        1000103948
27        1000104688
28        1000104953
29         100011318
             ...
378631     999832803
378632      99984851
378633     999865831
378634     999867839
378635      99987261
378636     999877902
378637     999878813
378638     999880710
378639     999884445
378640     999893629
378641      99991751
378642     999929142
378643     999931480
378644     999934908
378645     999941823
378646     999943841
378647     999950812
378648     999955533
378649     999963618
378650      99996661
378651     999969812
378652     999971898
378653     999972264
378654     999975836
378655     999976312
378656     999976400
378657     999977640
378658     999986353
378659     999987933
378660     999988282
Name: ID, Length: 378661, dtype: int64

KeyError: 'ID'

# Continue
- Finish wrangling data first
    - compare project id to - duplicates
- Success rate by category
- Success rate by backers
- By country? 
- By currency?
- Do something else on violin plots
    - cut out outliers on boxplots
        - cut axis
            - ylim(), xlim()
        - subset data sets
        - boxplot rule
            - interquartile range (IR)
            - Q1 - 1.5 IR
            - Q3 + 1.5 IR
- Avoid pie-charts
    - bar plots 
- Distribution of other variables
    - histogram 
- Association measures on categorical variables
    - chi-square
    - contigency table
- Correlation on continuous variables 
- Work on the the other file
- Distribution measures 
    - moments 
    - basic statistical measures
    - distribution tests
    - characteristics of outliers